<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alisher Navoiy</title>
</head>
<body>
    <a href= "http://localhost:63342/exam_6/templates/Shoirlar.html?_ijt=vf4he5k86p6de1qj154q2s0iq2&_ij_reload=RELOAD_ON_SAVE?/Alisher">bosh </a>
    <br>
    <p>
        Sharqda xamsachilikning o'ziga xos tarixi va an'anasi mavjud. "Xamsa" yozishni ozarbayjonlik ulug'<br>
        shoir Nizomiy Ganjaviy boshlab bergan. Lekin u bu asarini avvaldan niyat qilib, ma'lum bir reja asosida yaratmagan.
        <br> Nizomiy 1173--1179- yillarda Arzinjon hokimi Faxriddin Bahromshohga bag'ishlab "Maxzan ul-asror" ("Sirlar xazinasi") nomli
        <br>pandnoma yozadi. 1180-1181- yillarda Iroq hukmdori To'rg'ul II ning iltimosiga ko'ra "Xusrav va Shirin" dostonini yaratadi.
        <br>1188- yilda Shirvonshohlardan Axsatan I Nizomiyga "Layli va Majnun" dostonini yozishni buyuradi.
        <br>1196- yilda hukmdor Alovuddin Ko'rpa Arslonning topshirig'i bilan Bahrom haqida "Haft paykar" ("Yetti go'zal") yoziladi.
        <br>1196--1201- yillarda "Iskandarnoma" yaratiladi. Shu tariqa 1173--1201- yillar oralig'ida - 28 yil davomida muallifning besh
        <br>dostoni dunyo yuzini ko'rdi. Shundan so'ng adibda turli yillarda bitilgan bu dostonlarni jamlab, yagona bir nom bilan atash fikri
        <br>tug'ilgan va "Panj ganj" ("Besh xazina") nomi bilan mashhur bo'lgan birinchi "Xamsa" vujudga kelgan.
        Nizomiydan yuz yildan so'ng asli shahrisabzlik turkiy qavmlar avlodidan bo'lgan Xusrav Dehlaviy (1253-1325) o'zining
        <br>"Xamsa"sini 1299--1301- yillarda yozib tugalladi.
        U "Matla ul-anvor" ("Nurlarning boshlanmasi"), "Shirin va Xusrav", <br>
        "Majnun va Layli", "Hasht behisht" ("Sakkiz jannat"), "Oyinayi Iskandariy" ("Iskandar oynasi") dostonlarini yozib,
        <br>Nizomiy ishini davom ettirdi va natijada adabiyotda xamsachilik an'anasi paydo bo'ldi.
    </p>
</body>
</html>