<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoirlar</title>
</head>
<body>
    <ul>
        <li><a href ='/'> Bosh sahifa</a></li>
        <li><a href ='/'> Shoirlar</a></li>
        <li><a href ='/'> Shoirlarning_rasmlari</a></li>
    </ul>

    <footer>
        <h4>Iltimos shoirlar haqida ma'lumot olish uchun shoirlar menyusiga o'ting</h4>
        <h4>Rasmlar uchun esa shoirlarning_rasmlari menyusiga o'ting</h4>
    </footer>
</body>
</html>