<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoirlar</title>
</head>
<body>


<footer>
        <h5>Bu yerda siz o'zingiz hohlagan shoir haqida ma'lumot olsangiz bo'ladi</h5>
    <button id="Alisher Navoiy">Alisher Navoiy</button>
    <br>
    <br>
    <button id="2">Erkin Vohidov</button>
    <br>
    <br>
    <button id="3">G'ofur G'ulom</button>
    <br>
    <br>
    <button id="4">Omon matjon</button>
    <br>
    <br>
    <button id="5">Zulfiya</button>

    <script>
        document.getElementById("Alisher Navoiy").onclick = function()
        {
            window.location.href = "http://localhost:63342/exam_6/templates/Shoirlar.html?_ijt=vf4he5k86p6de1qj154q2s0iq2&_ij_reload=RELOAD_ON_SAVE?/Alisher";
        };

                document.getElementById("2").onclick = function()
        {
            window.location.href = "http://localhost:63342/exam_6/templates/Shoirlar.html?_ijt=vf4he5k86p6de1qj154q2s0iq2&_ij_reload=RELOAD_ON_SAVE?/Erkin";
        };

                document.getElementById("3").onclick = function()
        {
            window.location.href = "http://localhost:63342/exam_6/templates/Shoirlar.html?_ijt=vf4he5k86p6de1qj154q2s0iq2&_ij_reload=RELOAD_ON_SAVE?/G'ofur";
        };

                document.getElementById("4").onclick = function()
        {
            window.location.href = "http://localhost:63342/exam_6/templates/Shoirlar.html?_ijt=vf4he5k86p6de1qj154q2s0iq2&_ij_reload=RELOAD_ON_SAVE?/Omon";
        };

        document.getElementById("5").onclick = function()
        {
            window.location.href = "http://localhost:63342/exam_6/templates/Shoirlar.html?_ijt=vf4he5k86p6de1qj154q2s0iq2&_ij_reload=RELOAD_ON_SAVE?/Zulfiya";
        };

    </script>

</footer>

</body>
</html>